{{ partial "intro.html" . }}
{{ partial "styles.html" }}
{{ partial "social.html" }}
		<title>{{ .Title }}</title>
	</head>
	<body>
{{ partial "navbar.html" . }}
		<h1 id="title">{{ .Title }}</h1>
		<table>
{{ if eq .Parent.RelPermalink "/" }}
			<tr>
				<th>Publisher</th>
				<th>Games</th>
			</tr>
{{ range where (.Pages.ByParam "published_titles").Reverse "Section" "titles" }}
{{ if isset .Params "published_titles" }}
			<tr>
				<td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
				<td><a href="{{ .Permalink }}">{{ len .Pages }}</a></td>
			</tr>
{{ end }}
{{ end }}
{{ else }}
			<tr>
				<th>Name</th>
				<th>ID</th>
				<th>Achievements</th>
				<th>Gamerscore</th>
				<th>Awards</th>
			</tr>
{{ range where (.Pages.ByParam "IdB") "Section" "titles" }}
			<tr>
				<td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
				<td><a href="{{ .Permalink }}">{{ .Params.idHex }}</a></td>
{{ if fileExists (printf "data/titles/%s/%.f/achievements.json" .Params.idA .Params.idB) }}
{{ $achievements := getJSON (printf "data/titles/%s/%.f/achievements.json" .Params.idA .Params.idB) }}
				<td><a href="{{ .Permalink }}#achievements">{{ $achievements.achievementsPossible }}</a></td>
				<td><a href="{{ .Permalink }}#achievements">{{ $achievements.credPossible }}</a></td>
{{ else }}
				<td><a href="{{ .Permalink }}">0</a></td>
				<td><a href="{{ .Permalink }}">0</a></td>
{{ end }}
{{ if fileExists (printf "data/titles/%s/%.f/awards.json" .Params.idA .Params.idB) }}
{{ $awards := getJSON (printf "data/titles/%s/%.f/awards.json" .Params.idA .Params.idB) }}
				<td><a href="{{ .Permalink }}#awards">{{ $awards.avatarAssetsPossible }}</a></td>
{{ else }}
				<td><a href="{{ .Permalink }}">0</a></td>
{{ end }}
			</tr>
{{ end }}
{{ end }}
		</table>
	</body>
{{ partial "outro.html" }}
