{{ partial "intro.html" . }}
{{ partial "styles.html" }}
{{ partial "social.html" }}
		<link rel="preconnect" href="https://image-ssl.xboxlive.com" crossorigin="anonymous">
		<link rel="preconnect" href="https://download-ssl.xbox.com" crossorigin="anonymous">
		<title>{{ .Title }}</title>
		<meta name="keywords" content="360,Xbox,Game,ID,Title,{{ .Title }}{{ if .Params.alt_titles }},{{ delimit .Params.alt_titles "," }}{{ end }}">
		<meta name="description" content="{{ .Title }} [{{ .Params.idHex }}] achievements, awards and gamerpics.{{ if .Params.alt_titles }} Also known as {{ delimit .Params.alt_titles ", " }}{{ end }}">
{{ if .PrevInSection }}
		<link rel="previous" href="{{ .PrevInSection.Permalink }}" type="text/html; charset=utf-8" title="{{ .PrevInSection.Title }}">
{{ end }}
{{ if .NextInSection }}
		<link rel="next" href="{{ .NextInSection.Permalink }}" type="text/html; charset=utf-8" title="{{ .NextInSection.Title }}">
{{ end }}
		<link rel="up" href="{{ .Parent.Permalink }}" type="text/html; charset=utf-8" title="{{ .Parent.Title }}">
		<!--<link rel="related" href="{{ .Params.Marketplace }}" type="text/html" title="xbox.com">-->
		<link rel="icon" href="https://image-ssl.xboxlive.com/global/t.{{  .Params.idHex }}/icon/0/8000" type="image/png" sizes="64x64" crossorigin="anonymous">
		<meta property="og:title" content="{{ .Title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:image:url" content="http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d802{{ .Params.idHex }}/2057/boxartlg.jpg" />
		<meta property="og:image:secure_url" content="https://download-ssl.xbox.com/content/images/66acd000-77fe-1000-9115-d802{{ .Params.idHex }}/2057/boxartlg.jpg" />
		<meta property="og:image" content="https://download-ssl.xbox.com/content/images/66acd000-77fe-1000-9115-d802{{ .Params.idHex }}/2057/boxartlg.jpg" />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="219" />
		<meta property="og:image:height" content="300" />
		<meta property="og:image:alt" content="Box art for {{ .Title }}" />
		<meta property="og:site_name" content="Xbox 360 Games" />
	</head>
	<body>
{{ partial "navbar.html" . }}
		<h1 id="title">	{{ .Title }}</h1>
		<img
			id="title-icon"
			alt="Icon for {{ .Title }}"
			height="64" width="64"
			src="https://image-ssl.xboxlive.com/global/t.{{ .Params.idHex }}/icon/0/8000">
		<button id="share"
			onclick="navigator.share({
						title: '{{ .Title }}',
						text: '{{ .Title }} was my favourite, what about you?',
						url: '{{ .Permalink }}'
					});">♥</button>
<script>
		if (navigator.share) {
			shareButton = document.getElementById('share');
			shareButton.style.display = 'unset';
		}
</script>
		<p>
			<span id="titleid-hex">{{ .Params.idHex }}</span> |
			<span id="titleid-int">{{ int ( .Params.idInt ) }}</span> |
			<span id="titleid-pretty">{{ .Params.idPretty }}</span>
		</p>
		<p>
			Downloads: 
{{ if fileExists (printf "static/titles/%s/%.f/%s.gpd" .Params.idA .Params.idB .Params.idHex) }}
			<a id="gpd" href="{{ .Params.idHex }}.gpd">GPD</a> |
{{ else }}
			<span id="gpd">GPD Unavailable</span> |
{{ end }}
{{ if fileExists (printf "static/titles/%s/%.f/%s.pec.gpd" .Params.idA .Params.idB .Params.idHex) }}
			<a id="pec" href="{{ .Params.idHex }}.pec.gpd">PEC</a> |
{{ end }}
{{ if fileExists (printf "static/titles/%s/%.f/NxeArt" .Params.idA .Params.idB) }}
			<a id="nxeart" href="NxeArt">NxeArt</a> |
{{ else }}
			<span id="nxeart">NxeArt Unavailable</span> |
{{ end }}
{{ if fileExists (printf "static/titles/%s/%.f/%s.spa" .Params.idA .Params.idB .Params.idHex) }}
			<a id="spa" href="{{ .Params.idHex }}.spa">SPA</a>
{{ else }}
			<span id="spa">SPA Unavailable</span>
{{ end }}
			<!--<a id="xex" href="{{ .Params.idHex }}.xex">XEX download</a>-->
		</p>
		<img
			alt="Box art for {{ .Title }}"
			height="300" width="219"
			src="https://download-ssl.xbox.com/content/images/66acd000-77fe-1000-9115-d802{{ .Params.idHex }}/2057/boxartlg.jpg"
			altsrc="https://download-ssl.xbox.com/content/images/66acd000-77fe-1000-9115-d802{{ .Params.idHex }}/1033/boxartlg.jpg"
			onerror="if (this.src != this.attributes['altsrc']) this.src = this.attributes['altsrc'].value">
		<br>
{{ if fileExists (printf "data/titles/%s/%.f/achievements.json" .Params.idA .Params.idB) }}
{{ $achievements := getJSON (printf "data/titles/%s/%.f/achievements.json" .Params.idA .Params.idB) }}
		<h2>Achievements</h2>
{{ if eq (len $achievements) 0 }}
			<p>No Achievements</p>
{{ else }}
		<span class="achievements-possible" title="{{ $achievements.achievementsPossible }} achievements available">{{ $achievements.achievementsPossible }}</span>
		<span class="cred-possible" title="{{ $achievements.credPossible }} gamerscore available">{{ $achievements.credPossible }}</span>
		<ul id="achievements">
{{ range $achievements.achievements }}
			<li id="ach-{{ .id }}" class="ach">
				<img
					loading="lazy"
					class="ach-icon"
					alt="Achievement icon"
					height="64" width="64"
					src="https://image-ssl.xboxlive.com/global/t.{{ $.Params.idHex }}/ach/0/{{ int ( .imageId ) | printf "%x" }}">
				<h3 class="ach-name">{{ .label }}</h3>
				<span class="ach-howto">{{ .howto }}</span>
				<span class="ach-description">{{ .description }}</span>
				<span class="ach-cred">{{ .cred }}</span>
			</li>
{{ end }}
		</ul>
{{ end }}
{{ end }}
{{ if fileExists (printf "data/titles/%s/%.f/awards.json" .Params.idA .Params.idB) }}
{{ $awards := getJSON (printf "data/titles/%s/%.f/awards.json" .Params.idA .Params.idB) }}
		<h2>Avatar Awards</h2>
		<span class="awards-possible" title="{{ $awards.avatarAssetsPossible }} awards available">{{ $awards.avatarAssetsPossible }}</span>
		<span class="awards-male-possible" title="{{ $awards.maleAvatarAssetsPossible }} male awards available">{{ $awards.maleAvatarAssetsPossible }}</span>
		<span class="awards-female-possible" title="{{ $awards.femaleAvatarAssetsPossible }} female awards available">{{ $awards.femaleAvatarAssetsPossible }}</span>
		<ul id="awards">
{{ range $awards.avatarAssets }}
			<li id="award-{{ .id }}" class="award">
				<img
					loading="lazy"
					class="award-icon"
					alt="Award icon"
					height="128" width="128"
					src="https://avatar-ssl.xboxlive.com/global/t.{{ $.Params.idHex }}/avataritem/{{ .id }}/128">
				<h3 class="award-name">{{ .label }}</h3>
				<span class="award-howto">{{ .howto }}</span>
				<span class="award-description">{{ .description }}</span>
			</li>
{{ end }}
		</ul>
{{ end }}
		<h2>Gamer Pictures</h2>
		<ul id="gamer-pictures">
{{ if fileExists (printf "data/titles/%s/%.f/gamerPictures.json" .Params.idA .Params.idB) }}
{{ $gamerPictures := getJSON (printf "data/titles/%s/%.f/gamerPictures.json" .Params.idA .Params.idB) }}
{{ if eq (len $gamerPictures) 0 }}
			<p>No Gamer Pictures</p>
{{ else }}
{{ range $gamerPictures }}
{{ $titleId := int ( .titleId ) | printf "%x" }}
{{ $largeId := int ( .largeId ) | printf "%08x" }}
{{ $smallId := int ( .smallId ) | printf "%08x" }}
			<img
				loading="lazy"
				class="gamer-picture"
				alt="Gamer Picture"
				height="64" width="64"
				title="{{ $titleId }}.{{ $largeId }}.{{ $smallId }}"
				id="{{ $titleId }}{{ $largeId }}{{ $smallId }}"
				src="https://image-ssl.xboxlive.com/global/t.{{ $titleId }}/tile/0/{{ int ( .largeId ) | printf "%x" }}">
{{ end }}
{{ end }}
{{ else }}
			<button id="scrape-button" onclick="document.getElementById('scrape-button').hidden = true; scrape();">Scrape</button>
			<script>
				var tid = {{ .Params.idInt }};
				var start_offsets = [0, 0x400, 0x1000, 0x8000];

				function scrape() {
					for(i = 0; i < 0x100; i++) {
						for(x = 0; x < 4; x++) {
							var image = new Image;
							image.image_id = start_offsets[x] + i;
							image.classList.add('gamer-picture');
							image.alt = 'Gamer Picture';
							// image.height = "64";
							// image.width = "64";
							image.id = tid.toString(16) +
								(0x20000 + image.image_id).toString(16).padStart(8, '0') +
								(0x10000 + image.image_id).toString(16).padStart(8, '0');
							image.title = tid.toString(16) +
								(0x20000 + image.image_id).toString(16).padStart(8, '0') +
								(0x10000 + image.image_id).toString(16).padStart(8, '0');

							image.onclick = function() {
								this.src = 'https://image-ssl.xboxlive.com/global/t.' + tid.toString(16) + '/tile/0/' + (this.image_id + 0x20000).toString(16);
								this.onclick = null;
							}
							image.onload = function() {
								document.getElementById('gamer-pictures').appendChild(this);
							}

							image.src = 'https://image-ssl.xboxlive.com/global/t.' + tid.toString(16) + '/tile/0/' + (image.image_id + 0x10000).toString(16);
						}
					}
				}
			</script>
{{ end }}
		</ul>
{{ range .Params.Franchises }}
		<p>
			<a href="{{ "franchises" | absURL }}/{{ . | urlize }}" type="text/html">More {{ . }}</a>
		</p>
{{ end }}
		<p>
			<a href="{{ .Parent.Permalink }}" type="text/html">More from {{ .Parent.Title }}</a>
		</p>
		<p>
			<a href="https://github.com/xenia-project/game-compatibility/issues?q=is%3Aissue+{{ .Params.idHex }}" type="text/html">xenia compatibility</a>
		</p>
		<p>
			<a href="https://abgx360.cc/verified.php?f=titleid&q={{ .Params.idHex }}" type="text/html">Media IDs</a>
		</p>
	</body>
{{ partial "outro.html" }}
