{{ partial "intro.html" . }}
{{ partial "styles.html" }}
{{ partial "social.html" }}
		<title>{{ .Title }}</title>
	</head>
	<body>
{{ partial "navbar.html" . }}
		<div>
{{ .Content }}
		</div>
	</body>
{{ partial "outro.html" }}
