body {
	margin-top: auto !important;
}

form .optional:after {
	content: " (optional)";
}

td a {
	display: inline-block;
	min-height: 100%;
	width: 100%;
	padding: 10px;
}

#title-icon {
	float: right;
}

#awards,
#achievements {
	padding-left: unset;
}

.award {
	min-height: 128px;
	list-style-type: none;
}

.ach {
	min-height: 64px;
	list-style-type: none;
}

.award-icon,
.ach-icon {
	float: left;
	padding-right: 8px;
}

.award-howto,
.ach-howto {
	display: none;
}

.ach-cred {
	float: right;
}

.cred-possible:after,
.ach-cred:after {
	content: " 🅖";
}

.awards-male-possible:after {
	content: "♂";
}

.awards-female-possible:after {
	content: "♀";
}

.gamer-picture {
	padding: 2px;
}

#share {
	display: none;
	font-size: xx-large;
}

