{{ partial "intro.html" . }}
{{ partial "styles.html" }}
{{ partial "social.html" }}
		<title>{{ .Title }}</title>
	</head>
	<body class="h-feed">
{{ partial "navbar.html" . }}
{{ range .Pages }}
		<article class="hentry">
			<a href="{{ .Permalink }}" rel="bookmark" type="text/html"><h1 class="entry-title">{{ .Title }}</h1></a>
			<p>By <span class="author vcard"><span class="fn">{{ .Param "author.name" }}</span></span> on <time class="published" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time></p>
			<div>
{{ range .Params.tags }}
				<a href="{{ "tags" | absURL }}/{{ . | urlize }}.html" rel="tag" type="text/html">{{ . }}</a>
{{ end }}
			</div>
			<div class="entry-content">
{{ .Content }}
			</div>
		</article>
{{ end }}
	</body>
{{ partial "outro.html" }}
