		<ul id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/posts">News</a></li>
			<li><a href="/titles">Games</a></li>
			<!--<li><a href="/pages/contact">Contact</a></li>-->
			<li><a href="/pages/add">Add</a></li>
			<li><a href="/pages/about">About</a></li>
			<li id="searchform">
				<form action="https://www.google.com/search">
					<label for="q" style="display: none;">Search query</label>
					<input type="search" placeholder="…" name="q">
					<input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}">
					<button type="submit">Search</button>
    		  	</form>
			</li>
			<!--<li style="float: right;"><a href="">🔀</a></li>-->
		</ul>
