		<link rel="me" href="https://mastodon.social/@Cj" type="text/html" title="Mastodon">
		<link rel="me" href="https://micro.blog/CjMalone" type="text/html" title="Micro.blog">
		<link rel="me" href="https://github.com/Cj-Malone/" type="text/html" title="GitHub">
		<link rel="me" href="https://twitter.com/SeriousNSerial" type="text/html" title="Twitter">
		<link rel="me" href="https://www.youtube.com/channel/UCS9rzAtXnxVXX3DYe4LhHgw" type="text/html" title="YouTube">
