{{ partial "intro.html" . }}
{{ partial "styles.html" }}
{{ partial "social.html" }}
		<title>{{ .Title }}</title>
		<meta name="description" content="Xbox 360 games and their achievements, avatar awards, gamer pictures and title ids.">
	</head>
	<body>
{{ partial "navbar.html" . }}
		<!--<h1>What's Your Favourite?</h1>
		<br>-->
		<h2>Popular Games</h2>
		<br>
{{ range .Site.Taxonomies.tags.Popular }}
		<a href="{{ .Permalink }}">
			<img
				alt="Box art for {{ .Title }}"
				height="300" width="219"
				src="https://download-ssl.xbox.com/content/images/66acd000-77fe-1000-9115-d802{{ .Params.idHex }}/2057/boxartlg.jpg"
				altsrc="https://download-ssl.xbox.com/content/images/66acd000-77fe-1000-9115-d802{{ .Params.idHex }}/1033/boxartlg.jpg"
				onerror="if (this.src != this.attributes['altsrc']) this.src = this.attributes['altsrc'].value"></a>
{{ end }}
	</body>
{{ partial "outro.html" }}
