{{ partial "intro.html" . }}
{{ partial "styles.html" }}
{{ partial "social.html" }}
		<title>{{ .Title }}</title>
	</head>
	<body>
{{ partial "navbar.html" . }}
		<h1 id="title">{{ .Title }}</h1>
		<table>
{{ range .Pages }}
			<tr>
				<td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
			</tr>
{{ end }}
		</table>
	</body>
{{ partial "outro.html" }}
